* {
    font-family: 'Roboto', sans-serif;
}

header {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 0% 10% 0% 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
}
header h1 {
    font-size: 24px;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    /*border: solid red;*/
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

#hero-box {
    background-color: #1F2937;
    padding: 7% 10% 7% 10%;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin-right: 100px;
}

.hero-text h2 {
    color: #f9faf8;
    margin-top: 0%;
    font-size: 48px;
    font-weight: 800;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 6px;
    border: none;
    padding: 2px 15px 2px 15px;
}

img {
    height: 300px;
}

#info-box {
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#quote-box {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 5% 25% 5% 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quote {
    font-style: italic;
    font-size: 36px;
    align-self: center;
}

#attribution {
    align-self: flex-end;
    font-weight: 800;
}

#call-box {
    color: #f9faf8;
    background-color: #3882f6;
    margin-bottom: auto;
}

#call-box .button{
    border: 1px solid #f9faf8;
}

footer {
    
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #F9FAF8;
    background-color: #1F2937;  
}